.main_Bestellers{
    display: flex;
    padding: 120px 100px;
    height: 600px;
    align-items: center;
    justify-content: space-between;
}

.txt_card h2{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.txt_card p{
    font-size: 18px;
}

.txt_card a{
    text-decoration: none;
}


@media (max-width: 992px)  {
    .main_Bestellers{
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 10px;
    }
}

