.main_Bestellers{
    display: flex;
    padding: 120px 100px;
    height: 600px;
    align-items: center;
    justify-content: space-between;
}

.txt_card h2{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.txt_card p{
    font-size: 18px;
}

