.main_item_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 90px;
    justify-content: center;
    width: 1440px;
    gap: 25px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .main_item_list {
        width: 1200px;
        padding: 40px 70px;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .main_item_list {
        width: 100%;
        padding: 30px 50px;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .main_item_list {
        width: 100%;
        padding: 20px 30px;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .main_item_list {
        width: 100%;
        padding: 10px 20px;
        gap: 5px;
    }
}
